<!-- declare document type and version of this html template -->
<!DOCTYPE html>

<!-- start of html code -->
<html>
  <!-- start of head part of the code -->
  <head>
    <!-- flask version of importing css dependency for styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",
    filename="style.css") }}" />

    <!-- flask version of importing ico dependency for icon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for("static",
    filename="logo.ico") }}" />

    <!-- set webpage's title to display in tab -->
    <title>Service Board System - Web v0.90</title>

    <!-- import jquery library from a content delivery network (cdn - external dependency) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <!-- javascript script for automated displayed date updates -->
    <script type="text/javascript">
      // a variable to hold root url for web app
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

      // create a function to update time value every 200ms
      var timeInterval = setInterval(update_time,1000);

      // create a function to get current time value from server and update display
      function update_time() {
        $.getJSON($SCRIPT_ROOT + '/time',
          function(currentTime) {
            $('#result').text(currentTime.result);
          });
      };

      // create a function to update plates every 5 minutes
      var platesInterval = setInterval(update_plates,5000);

      // create a function to get current allPlates dictionary from server and update display
      // idea: since currentTime is a dictionary from get_time() function, I can replace it with allPlates
      // idea2: also, I think I can replace result into column name (counter, in progress, completed)
      // to-do: the goal for this function is to turn it into something like plate_generator of my tkinter prototype
      // add: also, check if the order of the plates in the json file is the same as the order in my tkinter prototype
      function update_plates() {
        // for counter column
        $.getJSON($SCRIPT_ROOT + '/plates',
          function(allPlates) {
            // put list of lists of counter key in a new variable
            var counterList = allPlates.counter;

            // create an empty array to store generated plates later
            var generated = [];

            // flush all existing elements in this id
            $('#counter').empty();

            // for-loop to loop through every list of counterList list of lists
            for (var i = 0; i < counterList.length; i++) {
              // put content in their respective variables
              var currentList = counterList[i];
              var plateNo = currentList[0];
              var appoint = currentList[2];

              // if plateNo is empty or N/A...
              if (!plateNo || plateNo === 'N/A') {
                // use csno as plateNo instead
                var plateNo = currentList[1];
              }

              // if appoint of plateNo is 1 and plateNo is not yet generated...
              if (appoint === '1' && !generated.includes(plateNo)) {
                // display plateNo using <p> element that uses walk-in_plate CSS class
                $('#counter').append('<p class="walk-in_plate">' + plateNo + '</p>' + '<br>');

                // add used plateNo in generated variable
                generated.push(plateNo)
              }

              // else if appoint of plateNo is 2-4 and plateNo is not yet generated...
              else if (appoint >= '1' && appoint <= '5' && !generated.includes(plateNo)) {
                // display plateNo using <p> element that uses booking_plate CSS class
                $('#counter').append('<p class="booking_plate">' + plateNo + '</p>' + '<br>');

                // add used plateNo in generated variable
                generated.push(plateNo)
              }
            }

            // append generated plates in the counter column via <div> with counter as its id
            $('#counter').append('<br>');
          });

        // for progress column
        $.getJSON($SCRIPT_ROOT + '/plates',
          function(allPlates) {
            // put list of lists of progress key in a new variable
            var progressList = allPlates.progress;

            // create an empty array to store generated plates later
            var generated = [];

            // flush all existing elements in this id
            $('#progress').empty();

            // for-loop to loop through every list of progressList list of lists
            for (var i = 0; i < progressList.length; i++) {
              // put content in their respective variables
              var currentList = progressList[i];
              var plateNo = currentList[0];
              var appoint = currentList[2];

              // if plateNo is empty or N/A...
              if (!plateNo || plateNo === 'N/A') {
                // use csno as plateNo instead
                var plateNo = currentList[1];
              }

              // if appoint of plateNo is 1 and plateNo is not yet generated...
              if (appoint === '1' && !generated.includes(plateNo)) {
                // display plateNo using <p> element that uses walk-in_plate CSS class
                $('#progress').append('<p class="walk-in_plate">' + plateNo + '</p>' + '<br>');

                // add used plateNo in generated variable
                generated.push(plateNo)
              }

              // else if appoint of plateNo is 2-4 and plateNo is not yet generated...
              else if (appoint >= '1' && appoint <= '5' && !generated.includes(plateNo)) {
                // display plateNo using <p> element that uses booking_plate CSS class
                $('#progress').append('<p class="booking_plate">' + plateNo + '</p>' + '<br>');

                // add used plateNo in generated variable
                generated.push(plateNo)
              }
            }

            // append generated plates in the in progress column via <div> with progress as its id
            $('#progress').append('<br>');
          });

        // for completed column
        $.getJSON($SCRIPT_ROOT + '/plates',
          function(allPlates) {
            // put list of lists of completed key in a new variable
            var completedList = allPlates.completed;

            // create an empty array to store generated plates later
            var generated = [];

            // flush all existing elements in this id
            $('#completed').empty();

            // for-loop to loop through every list of completedList list of lists
            for (var i = 0; i < completedList.length; i++) {
              // put content in their respective variables
              var currentList = completedList[i];
              var plateNo = currentList[0];
              var appoint = currentList[2];

              // if plateNo is empty or N/A...
              if (!plateNo || plateNo === 'N/A') {
                // use csno as plateNo instead
                var plateNo = currentList[1];
              }

              // if appoint of plateNo is 1 and plateNo is not yet generated...
              if (appoint === '1' && !generated.includes(plateNo)) {
                // display plateNo using <p> element that uses walk-in_plate CSS class
                $('#completed').append('<p class="walk-in_plate">' + plateNo + '</p>' + '<br>');

                // add used plateNo in generated variable
                generated.push(plateNo)
              }

              // else if appoint of plateNo is 2-4 and plateNo is not yet generated...
              else if (appoint >= '1' && appoint <= '5' && !generated.includes(plateNo)) {
                // display plateNo using <p> element that uses booking_plate CSS class
                $('#completed').append('<p class="booking_plate">' + plateNo + '</p>' + '<br>');

                // add used plateNo in generated variable
                generated.push(plateNo)
              }
            }
            // append generated plates in the completed column via <div> with completed as its id
            $('#completed').append('<br>');
          });
      };
    </script>
  </head>

  <!-- start of body part of code -->
  <body class="body">
    <!-- upper header part of code, containing brand, title, and automated time -->
    <header class="upper_header">
      <!-- container to hold brand, title, and automated time -->
      <div>
        <!-- text display for brand -->
        <div class="brand">ISUZU</div>

        <!-- text display for title -->
        <div class="upper_title">SERVICE BOARD</div>

        <!-- container positioned at right specifically for automated time -->
        <div style="float: right; text-align: right">
          <!-- text display for automated time (text in <p> tags is just a placeholder, and result will replace it) -->
          <span class="time" id="result">Time Placeholder</span>
        </div>
        <div style="clear: both"></div>
      </div>
    </header>

    <!-- lower header part of code, containing legend, booking, walk-in, and update -->
    <header class="lower_header">
      <!-- container to hold legend, booking, walk-in, and update -->
      <div>
        <!-- text display for legend -->
        <div class="lower_title">LEGEND:</div>

        <!-- container positioned at right specifically for booking and walk-in -->
        <div style="float: left; text-align: left">
          <!-- text display for booking -->
          <div class="booking">BOOKING</div>

          <!-- text display for walk-in -->
          <div class="walk-in">WALK-IN</div>
        </div>

        <!-- button for update -->
        <button class="update_button" onclick="update_plates()">UPDATE</button>
        <div style="clear: both"></div>
      </div>
    </header>

    <!-- container positioned below the lower header, containing counter, in progress, and completed columns -->
    <div class="content">
      <!-- container positioned at left specifically for counter column -->
      <div class="column">
        <!-- text display for counter column header -->
        <h1>COUNTER</h1>

        <!-- text display for counter plates (text in <p> tags is just a placeholder, and counter will replace it) -->
        <div id="counter">
          <p class="booking_plate">Counter Plate Placeholder</p>
        </div>
      </div>

      <!-- container positioned at left specifically for im progress column -->
      <div class="column">
        <!-- text display for in progress column header -->
        <h1>IN PROGRESS</h1>

        <!-- text display for in progress plates (text in <p> tags is just a placeholder, and progress will replace it) -->
        <div id="progress">
          <p class="walk-in_plate">In Progress Plate Placeholder</p>
        </div>
      </div>

      <!-- container positioned at left specifically for completed column -->
      <div class="column">
        <!-- text display for completed column header -->
        <h1>COMPLETED</h1>

        <!-- text display for completed plates (text in <p> tags is just a placeholder, and completed will replace it) -->
        <div id="completed">
          <p class="booking_plate">Completed Plate Placeholder</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div style="clear: both"></div>
    </div>
  </body>
</html>
